@charset "utf-8";
/* CSS Document */
/*created by Darpan Bhagat*/


body {background:#fff;font-family:calibri}

#wrapper {width:1000px; margin:0 auto; border:1px solid #333; padding-bottom:200px; background:url("../images/login_bottom.png") bottom repeat-x}

#top {width:773px;  padding:10px 114px; color:#fff; font-size:20px; font-family:halveticalTstd Roman }

#logo{margin-top:38px; margin-left:114px}

#component{width:380px; height:145px; margin-top:38px; margin-left:400px; padding:20px 40px; border:1px solid #000; background:#fff; }

input {width:270px; height:25px; margin-left:5px; padding-left:5px}

.textbox 
{
    height: 25px;
    margin-left: 5px;
    padding-left: 5px;
    width: 270px;
}
